

.header2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'GFS Didot', sans-serif;
  font-size: 30px;

}
ul {
  list-style-type: none;
  justify-content: space-between;
}
